*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* --------header ------------*/
.navbar{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background: rgb(14, 11, 7, 1) no-repeat center center/cover;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    opacity: 0.95;
    z-index: 1000;
}
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #1aeeef;
    border-radius: 6px;
}
label{
    display: none;
}
#click{
    display: none;
}
@media (max-width: 900px){
    .navbar{
        display: block
    }
    .line{
        display: block;
        font-size: 36px;
        position: absolute;
        top: 40px;
        left: 130px;
        color: white;
        cursor: pointer;
    }
    .cross{
        display: none;
        font-size: 37px;
        position: absolute;
        top: 40px;
        left: 130px;
        color: white;
        cursor: pointer;
    }
    .navbar ul{
        position: fixed;
        display: block;
        text-align: center;
        background: rgb(14, 11, 7, 1) no-repeat center center/cover;
        top: 100px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-transform: uppercase;
        transition: all 1s ease-in-out;
    }
    #click{
        display: none;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~.line{
        display: none;
    }
    #click:checked ~.cross{
        display: block;
    }
    .search-btn{
        position: absolute;
        top: 40px;
        right: 20px;
        color: white;
    }
}
.logo{
    /* border: 5px solid green; */
    display: inline-block;
    margin: 20px;
    width: 70px;
}
.logo img{
    width: 80%;
}

.navlist{
    margin-left: 0px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist li{
    list-style: none;
    padding: 30px 15px;
    text-transform: uppercase;
}
.navlist li a{
    text-decoration: none;
    color: white;
    padding: 12px 13px;
    font-size: 17px;
}
.navlist li a:hover, a.active{
    color: #000000;
    border-radius: 5px;
    background-color: #1aeeef;
    box-shadow: 0 0 20px #1aeeef;
}
.search-btn{
    position: absolute;
    right: 20px;
    color: white;
}
header
{
	height: 200px;
	background: #0F2027; /* fallback for old browsers */
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
	margin-bottom: 10px;
}
header h1{
	color: white;
	position: relative;
	top: 30%;
}


/* --------about us---------- */

.section-aniket{
	display: flex;
	/* border: 2px solid red; */
	background-color: rgba(226, 224, 221, 0.927);
	justify-content: center;
	flex-direction: column;
}
.container-aniket{
	/* border: 2px solid green; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.image-section{
	width: 100%;
	margin-left: 5%;
}
.image-section img{
	width: 60%;
}
.title h1{
	text-transform: uppercase;
	font-size: 48px;
}
.title .lim
{
	margin-top: -4%;
	/* margin-left: 2%; */
}
.content-section .content h3{
	margin-top: 20px;
	/* font-size: 18px; */
	color:#fea900;
	font-size: 25px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #e78611;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color:#3d3d3d; 
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#e78611;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.title{
	text-align: center;
	font-size: 19px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}




/* Section 1  */

.secone 
{
	display: flex;
	flex-direction: column;
	text-align: center;
}
h1
{
	font-size: 50px;
    text-align: center;
    color: #222;
    padding-top: 20px;
	padding-bottom: 30px;
}
.box
{
	/* border: 2px solid red; */
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
.base
{
    position: relative;
    float: left;
    width: 300px;
    height: 450px;
    background: transparent;
    border-radius: 10px;
}
.base:hover
{
    box-shadow: 0px ops 20px 1px #9592927a;; 
}
.bg
{
    width:90%;
    transform: rotate(90deg);
    margin-left: 20px;
    transition:1s;
}
.pic
{
    width:89%;
    position: absolute;
    top:-10px;
    left:10px;
    /* filter: grayscale(100%); */
    
}
.base:hover .bg
{
    transform: rotate(120deg);
}
.base h3
{
    margin-top: 10%;
    text-align: center;
    color: #222;
    cursor: pointer;
}
.base h4
{
    text-align: center;
    color:grey;
    font-weight: 500;
	/* font-style: italic; */
}
.icon
{
    text-align: center;
}
.icon ion-icon
{
    font-size: 20px;
    border-radius: 50%;
    padding: 8px;
    cursor:pointer;
    background: #ffc400;
    
    color: #fff;
    border: 1px solif #ffc400;
    opacity: 0;
    transition: 1s ease-in-out;
}
.icon ion-icon:hover
{
	
    color: grey;
    /* border: 2px solid grey; */
	box-shadow: 0px 0px 4px 0px #7e7a7a;
    background: transparent;
}
.base:hover .icon ion-icon
{
    opacity:1;
}





/* section 2 */

.container{
	margin: 30px;
}

.row1{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.heading{
	text-align: center;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 200;

}

.image{
	background: #16181a;
	display: inline-block;
	position: relative;
	flex:1;
	max-width: 460px;
	height: 300px;
	margin:20px;
	overflow: hidden;
}

.image img{
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}

.image:hover img{
	opacity: 0.3;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details h2 span{
	font-weight: 900;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more{
	bottom: 0;
}

.more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.more .read-more span{
	font-weight: 900;
}

.more .icon-links i{
	color: #000;
	font-size: 20px;
}

.more .icon-links a:not(:last-child) i{
	margin-right: 20px;
}

/* Responsive CSS */

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 16px;
	}

	.more .read-more, .more .icon-links a i{
		font-size: 18px;
	}
}