*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* Section 0  : Loading  : Mradul */
.all{
    display: none;
}
/* .oppoide{
    display: none;
} */
.loading-container{
    /* border: 2px solid red; */
    background: #f9f6f6 no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loading-container img{
    /* border: 2px solid black; */
    width: 18%;
    animation: oppoide 3s infinite linear ;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid yellow; */
    margin-bottom: 100px;
}
@keyframes oppoide{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    50%{
        transform: translateY(-120px) rotate(180deg);
    }
    100%{
        transform: translateY(0) rotate(360deg);
    }
}
.shadow{
    /* border: 2px solid green; */
    border-radius: 50%;
    background-color: #3f4142;
    width: 30px;
    height: 10px;
    animation: zoom 3s infinite linear;
}
@keyframes zoom{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(2.5);
        opacity: 0.4;
    }
    100%{
        transform: scale(0.8);
    }
}
.zoom-in-out{
    display: flex;
    font-size: 25px;
    animation: zoomh2 3s linear infinite;
}
@keyframes zoomh2{
    0%{color: #77d4ad;}
    50%{color: #4c5166;}
    100%{color: #77d4ad;}
}
.zoom-in-out span{
    margin: 0;
    padding: 0;
    font-size: 40px;
    animation: zoomInOut 3s infinite linear;
}
@keyframes zoomInOut{
        0% {
            color: rgb(255, 0, 242);
        }
        50% {
            color: #10ac6b;
            opacity: 0.4;
        }
        100% {
            color: #0F052F;
        }
}
.oppoide .oppoide-container{
    display: flex;
    justify-content: center;
    color: white;
    background: #000000 no-repeat center center/cover;
    height: 100vh;
}
.oppoide .oppoide-container span{
    line-height: 1.3;
    font-size: 12rem;
    animation-name: float;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    position: absolute;
}
@keyframes float{
    0%{
        top: 0px;
        opacity: 0.4;
    }
    100%{
        top: 200px;
        opacity: 1;
    }
}
@media (max-width: 880px){
    .oppoide-container span{
        font-size: 3.5rem;
    }
}


.navbar{
    display: flex;
    align-items: center;
    background: rgb(14, 11, 7, 1) no-repeat center center/cover;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    opacity: 0.95;
    z-index: 1;
}
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #1aeeef;
    border-radius: 6px;
}
label{
    display: none;
}
@media (max-width: 900px){
    .navbar{
        display: block
    }
    label{
        display: block;
        font-size: 36px;
        position: absolute;
        top: 40px;
        left: 150px;
        color: white;
        cursor: pointer;
    }
    .navbar ul{
        position: fixed;
        display: block;
        text-align: center;
        background: rgb(14, 11, 7, 1) no-repeat center center/cover;
        top: 100px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-transform: uppercase;
        transition: all 1s ease-in-out;
    }
    #click{
        display: none;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    .search-btn{
        position: absolute;
        top: 40px;
        right: 20px;
        color: white;
    }
}
.logo{
    /* border: 5px solid green; */
    display: inline-block;
    margin: 25px;
    width: 100px;
}
.logo img{
    width: 100%;
}

.navlist{
    margin-left: 0px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist li{
    list-style: none;
    padding: 30px 15px;
    text-transform: uppercase;
}
.navlist li a{
    text-decoration: none;
    color: white;
}
.navlist li a:hover, a.active{
    background-color: #1b9bff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
.search-btn{
    position: absolute;
    right: 20px;
    color: white;
}
/*  Section 2  : About + Icons : Aniket + Himanshu   */
.section-aniket{
	width: 100%;
	min-height:600px;
	background-color: rgba(252, 251, 250, 0.927);
}
.section-aniket .title{
    margin-top: 10px;
    text-align: center;
}
.container-aniket{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-section{
    margin: 20px;
    padding: 20px;
}
.title{
    text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
    margin-top: 20px;
	color:#fea900;
	font-size: 25px;
}
.content-section .content p{
    margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #e78611;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color:#3d3d3d; 
	color:#fff;
}
.content-section .social{
    margin: 40px 40px;
}
.content-section .social i{
	color:#e78611;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
    color:#3d3d3d;
}
.image-section{
    margin: auto;
    width: 27%;
}
@media screen and (max-width: 768px){
    .image-section{
        display: inline;
        width: 60%;
    }
    .content-section{
        width: 100%;
        text-align: center;
    }
}

/* Section 3 : Cards  :  Priyanshu */

.index-post {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contener {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 #00000073;
    transition: all 0.3s;
}

.contener:hover {
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
}

.image-contener {
    display: block;
}

.image-contener img {
    width: 100%;
    height: 100%;
}

.meta-contener {
    display: block;
    text-align: center;
}

.meta-contener .title {
    margin: auto;
    font-size: 22px;
    color: #0076b6;
}

.meta-contener .desc {
    font-size: 13px;
    color: #373737;
}

.button1-contener {
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 40px;
    bottom: 2px;
}

.button1-contener .button {
    width: 100%;
    padding: 6px 0;
    text-decoration: none;
    background: linear-gradient(125deg, #00ff35 0%, #0091a7 60%);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}

.button1-contener .button:hover {
    padding-left: 20px;
}
