@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: Raleway;
  scroll-behavior: smooth;
  /* background-color: #FAFAFA; */
}
.navbar{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background: rgb(14, 11, 7, 1) no-repeat center center/cover;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  opacity: 0.95;
  z-index: 1;
}
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb{
  background-color: #1aeeef;
  border-radius: 6px;
}
label{
  display: none;
}
#click{
  display: none;
}
@media (max-width: 900px){
  .navbar{
      display: block
  }
  .line{
      display: block;
      font-size: 36px;
      position: absolute;
      top: 40px;
      left: 130px;
      color: white;
      cursor: pointer;
  }
  .cross{
      display: none;
      font-size: 37px;
      position: absolute;
      top: 40px;
      left: 130px;
      color: white;
      cursor: pointer;
  }
  .navbar ul{
      position: fixed;
      display: block;
      text-align: center;
      background: rgb(14, 11, 7, 1) no-repeat center center/cover;
      top: 100px;
      left: -100%;
      height: 100vh;
      width: 100%;
      text-transform: uppercase;
      transition: all 1s ease-in-out;
  }
  #click{
      display: none;
  }
  #click:checked ~ ul{
      left: 0%;
  }
  #click:checked ~.line{
      display: none;
  }
  #click:checked ~.cross{
      display: block;
  }
  .search-btn{
      position: absolute;
      top: 40px;
      right: 20px;
      color: white;
  }

}
.logo{
  /* border: 5px solid green; */
  display: inline-block;
  margin: 20px;
  width: 70px;
}
.logo img{
  width: 80%;
}

.navlist{
  /* float: right; */
  margin-left: 0px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.navlist li{
  /* position: relative; */
  /* display: inline-block; */
  list-style: none;
  padding: 30px 15px;
  text-transform: uppercase;
}
.navlist li a{
  /* display: block; */
  text-decoration: none;
  color: white;
  padding: 12px 13px;
  font-size: 17px;
}
.navlist li a:hover, a.active{
  color: #000000;
  border-radius: 5px;
  background-color: #1aeeef;
  box-shadow: 0 0 20px #1aeeef;
}

.navlist ul{
  position: absolute;
  top: 90px;
  display: none;
}

.navlist li:hover > ul{
  display: block;
  background-color: #000000;
}

@media (max-width: 900px){
  .navlist li ul{
      display: none;
  }
}

.search-btn{
  position: absolute;
  right: 20px;
  color: white;
}

.skills {
  padding: 0px 10px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px;
}

.skills h2 {
  color: #ce1446;
  margin: 10px 0;
}

.skills h1 {
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2d373c;
  margin-bottom: 30px;
}

.skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.skills ul li {
  font-weight: 1000;
  list-style: none;
  padding: 10px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #050e2d;
}

.skills ul li.active {
  color: #ce1446;
  border: 1px solid #ce1446;
  background: transparent;
}

.skills .cardBox {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills .cardBox .card {
  width: 400px;
  border-radius: 10px;
  margin: 20px 30px;
  background: #fff;
  overflow: hidden;
}

.skills .cardBox .card img {
  width: 100%;
  height: 250px;
  object-fit: fill;
}

.skills .cardBox .card .content {
  padding: 0px 10px;
  cursor: pointer;
}

.skills .cardBox .card h5 {
  color: #2d373c;
  margin: 15px 0;
  margin-top: 5px;
}

.skills .cardBox .card h5 .event-info {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.skills .cardBox .card h5 .event-info .event-location a {
  color: black;
  list-style: none;
  text-decoration: none;
}

.skills .cardBox .card h5 i {
  color: #ce1446;
  margin-right: 5px;
}

.skills .cardBox .card h5 .calender {
  margin-right: 20px;
}

.skills .cardBox .card .info {
  font-weight: 900;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills .cardBox .card .info p {
  font-size: 1em;
  color: #2d373c;
}

.skills .cardBox .card .info p span {
  color: #2d373c;
}

.skills .cardBox .card .info a {
  display: inline-block;
  padding: 0px 0px;
  margin: 10px 0;
  font-weight: 700;
  border-radius: 5px;
  color: #ce1446;
  letter-spacing: 1px;
}

.skills .cardBox .card.hide {
  display: none;
}

/* banner */
.fun-facts-section {
  position: relative;
  z-index: -1;
  background: url("../images/banner_new.png") no-repeat center center/cover;
}

.image-layer {
  height: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image-layer .hello {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-layer .hello .first-txt {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 50px;
  padding: 0px 0px 0px 0px;
  margin: 10px 50px 10px 60px;
  font-style: italic;
  font-weight: bold;
}

.image-layer .hello .second-txt {
  color: #ff7600;
  font-size: 20px;
  margin-bottom: 30px;
}
.material-symbols-outlined.md-80 {
  color: white;
  font-size: 80px;
}

.hello {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 50px;
  padding: 0;
}

/* cursor */
.cursor{
    position: fixed;
    
    width: 30px;
    height: 30px;
    
    border-radius: 50%;
    border: 1px solid  #ce1446;
    border-style: dashed;  
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

.cursor2{
    position: fixed;
    width: 5px;
    height: 5px;
    background-color: #ce1446;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    /* transition: .1s; */
}

.skills .cardBox .card .content:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #ce1446;
    opacity: .5;
}

.skills .cardBox .card .content:hover ~ .cursor2{
    opacity: 0;
}

@media (max-width:440px){
  .skills h2 {
    font-size: 20px ;
  }
  .skills h1 {
    font-size: 20px;
  }

}

@media (max-width: 220px)  {
  .skills h2 {
    font-size: 20px ;
  }
  .skills h1 {
    font-size: 15px;
  }
  .skills .cardBox .card img{
    height: 150px;
  }
  .skills .cardBox .card .info{
    font-size: 12px;
  }

  .image-layer .hello .first-txt {
    font-size: 3rem;
  }
  .image-layer .hello .second-txt{
    font-size: 15px;
  }
}