
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Section 1  : +header + Nevigation  : Aniket + Himanshu */





/*  Section 2  : About + Icons : Aniket + Himanshu   */





/* Section 3 : Cards  :  Priyanshu */

.index-post {
    width: 1124px; transition: all 1.5s;
    height: 364px; overflow: hidden; 
    margin: auto;
    display: block;
    margin-top: 10%;
}

.contener {
    float: left;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 320px;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #00000073;
    transition: all 0.3s;
}

.contener:hover {
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
}

.image-contener {
    display: block;
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.image-contener img {
    width: 100%;
}

.meta-contener {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110px;
    padding: 10px 20px;
}

.meta-contener .title {
    padding: 0;
    margin: 10px 0;
    font-size: 22px;
    color: #0076b6;
}

.meta-contener .desc {
    font-size: 13px;
    text-align: center;
    color: #373737;
}

.button-contener {
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 40px;
}

.button-contener .button {
    width: 100%;
    padding: 6px 0;
    text-decoration: none;
    background: linear-gradient(125deg, #00ff35 0%, #0091a7 60%);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;

}

.button-contener .button:hover {
    padding-left: 15px;
}

@media screen and (max-width:1124px){
    .index-post{
        width: 562px; height: 728px;
    }
}
@media screen and (max-width:562px){
    .index-post{
        width: 281px; height: 1496px;
    }
}




/* Section 4 : Tournaments : Srashti */
.sec-4
{
    justify-content: center;
    margin: 0 auto;
    display: flex;
    
}
.sec-4-title-div
{
    font-family: 'Monstserrat',sans-serif;
    
    margin-bottom: 50px;
    text-align: center !important;
}
.sec-4-title-div h2{
    font-size: 30px;
    margin-bottom: 5px;
    
}
.sec-4-title-div .subtitle1 {
    color: #ed6221;
    text-transform: uppercase;
    line-height: 3em;
}
.text {
    
    display: flex;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding: 10%;
    font-size: auto;
    line-height: 1.5em;
    
}

hr
{
    align-items: center;
    margin: 0 12.5% ;
    width: 75%;
    border: 3px solid rgb(67, 66, 66);
    opacity: .5;
    margin-bottom: 90px;
    
}
/*=============================================================================*/
/* .hello{
    border: 2px solid black;
} */
.sec-4
{
    justify-content:center;
    display: flex;
}

.event-image
{
    /* border: 5px solid green; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    justify-content: left;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    padding-left: 4%;
    /* padding-top: 4%; */
}

.event-image:nth-child(2n)
 {
    flex-direction: row-reverse;
    justify-content: right;
    padding-left: 0;
    padding-right: 4%;
 }

.event-image .game-block
{
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    background: rgba(248, 244, 243, 0.99);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    width: 500px;
    margin-top: 60px;
    padding-top: 5%;
}
.titlebox h3
{
    font-size: 20px;  
}
.titlebox .event-capt
{
    padding: 5%;
    color: rgb(194, 53, 53);
    font-size: 13px;
}

.event-image .game-block .text
{
    text-align: center;
    font-size: 20px;
    margin: 50px 0px;
}
.event-image .game-block .info
{
    /* border: 2px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.event-image .game-block .info .list
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 25px;
}
.list b{
    font-size: 20px;
}
.list .txt
{
    margin-top: 5px;
    color: rgb(224, 64, 64);
}
/*Buttons-------------------*/
 
.event-image .buttons{
    /* border: 2px solid orange; */
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
}
.event-image button
{
    background-color: indianred;
    position: relative;
    display: flex;
    border-radius: 5px;
    transition: 2ms;
    box-shadow: 5px 5px 10px 0px grey;
    margin: 10px;
    padding: 1% 8%;
}
 button:hover
{
 transform: translate(-5%,-5%);
 background-color: rgb(225, 40, 40);
 
}
button a
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    color: white;
    /* padding: 6% 2%; */
    
}
.but-text
{
    /* padding: 1%; */
    font-size: 20px;
    font-family:'Arial Narrow', Arial, sans-serif;
}
/*=============================================================================*/
.event-image .image-block
{
    /* border: 5px solid yellowgreen; */
    display: flex;
    flex-wrap: wrap;
    transition: 6s;  
} 
.event-image .image:hover
{
    position: relative;
    transform: scale(1.1);
} 

/* ========================================================================================== */
@media(max-width :1000px)
{
    .event-image .image-block .image img
    {
        width: 100%;
        
    }   
    
}
@media(max-width :1305px)
{
    .event-image:nth-child(n)
    {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

}

/* Section 5 : Photo Gallery :  Mradul + Aryan */
.gallery{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGxcZKdlCn2JE21-beWhO__Zt8q4bTh-24txtl5gRRtkM4GYNZYsJCZoRuUTFlA5uRYpQ&usqp=CAU") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.89;
}

.gallery .header h1{
    font-family: 'Rubik Moonrocks', cursive;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 70;
    color: white;
    text-decoration:underline;
}
.pics{
    margin: 0;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items: center; 
}
.pics .box{ 
    position: relative;
    display: table-cell;
    vertical-align: middle;
    margin: 5px;
}



/*  : Growth Section : Vaibhav + Krishna */

.fun-facts-section{
   position: relative;
   z-index: -1;
   background: url("/images/banner_new.png") no-repeat center center/cover;
}

.image-layer{
    margin: 0;
    height: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image-layer .hello{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-layer .hello .first-txt{
    color: white;
    font-size: 50px;
    padding: 0px 0px 0px 0px;
    margin: 10px 50px 10px 60px;
    font-style: italic;
    font-weight: bold;
    
}

.image-layer .hello .second-txt{
    color: #ff7600;
    font-size: 3rem;
    font-size: 20px;
    margin-bottom: 30px;
} 
.material-symbols-outlined.md-80{
    color: white;
    font-size: 80px;
}

.hello{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 0;  
}


/* Section 7 : Player Review : Riya */


/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* > * {
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-dark: #151C35;
    --color-secodary-dark: #464C70;
    --color-primary: #EE709D;
    --color-text: #8297E2;
    --color-light: #EBEBFB;
}

.container{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    max-width: 987px;
    width: 100%;
    background-color: var(--color-dark);
    text-align: center;
    border-radius: 8px;
    padding: 4em 0;
}

.text-light{
    color: var(--color-light);
}

.swiper {
    width: 600px;
    height: auto;
  }

.swiper .swiper-slide .flex{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .swiper-slide .comments{
    background-color: var(--color-light);
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}

.swiper .swiper-slide .comments::after{
    content: '';
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--color-light);
    z-index: -99;
}


.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.swiper .profile img{
    width: 30%;
    border-radius: 50%;
    border: 5px solid var(--color-primary);
    margin: 10px 0;
}

.swiper .profile > a{
    text-decoration: none;
    color: var(--color-light);
}

.swiper .profile > span{
    color: var(--color-text);
    font-size: .8em;
}

.swiper .swiper-button-prev, .swiper-button-next{
    color: var(--color-text);
    display: none;
} 

@media (min-width: 320px) {
    .board{
        width: auto;
    }

    .swiper {
        width: 320px;
      }

      .board > h1, p{
          padding: 0 2em;
      }
}

@media (min-width: 768px) {
    .board{
        width: 100%;
    }

    .swiper {
        width: 600px;
      }

    .swiper .swiper-button-prev, .swiper-button-next{
        display: initial;
    }

} */


/* section 8 : Contact  : Santosh  */




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#contact{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
/* background-color: rgb(224, 234, 218);
 */
 background-image: linear-gradient(20deg, #a46e28 30%, rgb(255, 255, 255) 50% );
}
 

#contact::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    
} 

.container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    /* background: #fff; */

}

.container .contactInfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #d3a32a;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.15);
}



.container .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info{
    position: relative;
    margin: 20px 0;

}

.container .contactInfo ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

.container .contactInfo ul.info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    
}

.container .contactInfo ul.info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci
{
    position: relative;
    display: flex;

}


.contact-section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;

    /* justify-content: center; */


}

.container .contactInfo ul.sci li{
    list-style: none;
    margin: 25px;
    /* margin-right: 17px; */
    font-size: 1.2rem;
}

.container .contactInfo ul.sci li a{
    text-decoration: none;
}

.container .contactInfo ul.sci li a i{
    filter: invert(1);
    color: black;
}


 section .container .contactinfo .sci li:hover a i{
    opacity: 2s;

 }
 




.container .contactForm
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 30px 50px 50px 30px rgba(0, 0, 0, 0.25);
}


.container .contactForm h2{
    color: #59440f;
    font-weight: 500;
}

.container .contactForm  .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}


.container .contactForm  .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm  .formBox .inputBox.w50{
    width: 47%;
}
.container .contactForm  .formBox .inputBox.w100{
width: 100%;
}
   
.container .contactForm  .formBox .inputBox input,
.container .contactForm  .formBox .inputBox textarea{
    width: 100%;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}
.container .contactForm  .formBox .inputBox textarea{
    height: 120px;
}

.container .contactForm  .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-weight: 300;
    transition: 0.3s;


}
.container .contactForm  .formBox .inputBox input:focus ~ span,
.container .contactForm  .formBox .inputBox input:valid ~ span,
.container .contactForm  .formBox .inputBox textarea:focus ~ span,
.container .contactForm  .formBox .inputBox textarea:valid ~ span{
transform: translateY(-20px);
font-size: 12px;
letter-spacing: 1px;
font-weight: 500;
color: rgb(88, 63, 3);
}

.container .contactForm  .formBox .inputBox input[type="submit"]{
    position: pointer;
    background-color: rgb(191, 191, 187);
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
}
.container .contactForm  .formBox .inputBox input[type="submit"]:hover{
    background-color: rgb(151, 101, 0);
}


@media only screen and (max-width: 1070px) {
    #contact .container{
        width: 90% ;
        min-width: auto ;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }
   


  }

@media only screen and (max-width: 1050px)  {
    
.container{
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.container .contactInfo{
    top: 0;
    height: 550px;
    position: relative;
}


.container .contactForm{
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
}


}

@media only screen and (max-width: 800px){

    #contact{
        background: white;
    }

    #contact::before{
        background: none;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        box-shadow: none;
    }

    .container .contactInfo{
        width: 100%;
        height: auto;
        background-image: linear-gradient(50deg, #3d6dba 8%, rgb(198, 198, 91) 75% );
        flex-direction: row;
    }

    .container .contactInfo ul.sci{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .container .contactForm{
        width: 100%;
        height: auto;
        
    }

}

@media only screen and (max-width: 558px){
    .container .contactForm{
        padding: 25px;

    }

    .container .contactInfo{
        padding: 25px;
        flex-direction: column;

    }
 .container .contactInfo ul.sci{
    margin-top: 40px;
 }

 .container .contactForm .formBox .inputBox.w50{
    width: 100%;
 }
}

