*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;   
}

/* Section 0  : Loading  : Mradul */
.all{
    display: none;
}
.oppoide-move{
    display: none;
}
.loading-container{
    /* border: 2px solid red; */
    background: #f9f6f6 no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loading-container img{
    /* border: 2px solid black; */
    width: 18%;
    animation: oppoide 3s infinite linear ;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid yellow; */
    margin-bottom: 100px;
}
@keyframes oppoide{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    50%{
        transform: translateY(-120px) rotate(180deg);
    }
    100%{
        transform: translateY(0) rotate(360deg);
    }
}
.shadow{
    /* border: 2px solid green; */
    border-radius: 50%;
    background-color: #3f4142;
    width: 30px;
    height: 10px;
    animation: zoom 3s infinite linear;
}
@keyframes zoom{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(2.5);
        opacity: 0.4;
    }
    100%{
        transform: scale(0.8);
    }
}
.zoom-in-out{
    display: flex;
    font-size: 25px;
    animation: zoomh2 3s linear infinite;
}
@keyframes zoomh2{
    0%{color: #77d4ad;}
    50%{color: #4c5166;}
    100%{color: #77d4ad;}
}
.zoom-in-out span{
    margin: 0;
    padding: 0;
    font-size: 40px;
    animation: zoomInOut 3s infinite linear;
}
@keyframes zoomInOut{
        0% {
            color: rgb(255, 0, 242);
        }
        50% {
            color: #10ac6b;
            opacity: 0.4;
        }
        100% {
            color: #0F052F;
        }
}
.oppoide{
    display: flex;
    justify-content: center;
    background: #000000 no-repeat center center/cover;
}
.oppoide .oppoide-container{
    color: white;
    height: 100vh;
}
.oppoide .oppoide-container span{
    font-size: 12rem;
    animation-name: float;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes float{
    0%{
        top: 0px;
        opacity: 0.4;
    }
    100%{
        top: 200px;
        opacity: 1;
    }
}
@media (max-width: 880px){
    .oppoide .oppoide-container span{
        font-size: 3.5rem;
    }
}

/* Section 1  : +header + Nevigation  : Aniket + Himanshu */

.navbar{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background: rgb(14, 11, 7, 1) no-repeat center center/cover;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    opacity: 0.95;
    z-index: 1;
}
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #1aeeef;
    border-radius: 6px;
}
label{
    display: none;
}
#click{
    display: none;
}
@media (max-width: 900px){
    .navbar{
        display: block
    }
    .line{
        display: block;
        font-size: 36px;
        position: absolute;
        top: 40px;
        left: 130px;
        color: white;
        cursor: pointer;
    }
    .cross{
        display: none;
        font-size: 37px;
        position: absolute;
        top: 40px;
        left: 130px;
        color: white;
        cursor: pointer;
    }
    .navbar ul{
        position: fixed;
        display: block;
        text-align: center;
        background: rgb(14, 11, 7, 1) no-repeat center center/cover;
        top: 100px;
        left: -100%;
        height: 100vh;
        width: 100%;
        text-transform: uppercase;
        transition: all 1s ease-in-out;
    }
    #click{
        display: none;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~.line{
        display: none;
    }
    #click:checked ~.cross{
        display: block;
    }
    .search-btn{
        position: absolute;
        top: 40px;
        right: 20px;
        color: white;
    }
}
.logo{
    /* border: 5px solid green; */
    display: inline-block;
    margin: 20px;
    width: 70px;
}
.logo img{
    width: 80%;
}

.navlist{
    margin-left: 0px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist li{
    list-style: none;
    padding: 30px 15px;
    text-transform: uppercase;
}
.navlist li a{
    text-decoration: none;
    color: white;
    padding: 12px 13px;
    font-size: 17px;
}
.navlist li a:hover, a.active{
    color: #000000;
    border-radius: 5px;
    background-color: #1aeeef;
    box-shadow: 0 0 20px #1aeeef;
}
.search-btn{
    position: absolute;
    right: 20px;
    color: white;
}
.firstsection{
    background: url('../images/Slideshow_1.png') no-repeat center center/cover;
    height: 100vh;
    animation: slideshow 20s infinite;
    animation-delay: 4s;
    display: flex;
    flex-direction: column;
    height: 480px;
    padding: 3px 100px;
    justify-content: center;
    align-items: center;
}
@keyframes slideshow{
    25%{
        background: url('../images/Slideshow_2.png') no-repeat center center/cover; 
    }
    50%{
        background: url('../images/Slideshow_3.png') no-repeat center center/cover; 
    }
    75%{
        background: url('../images/Slideshow_4.png') no-repeat center center/cover; 
    }
}
.firstsection h1{
    /* border: 2px solid red; */
    width: 600px;
    color: rgb(0 255 43);
    text-align: center;
    text-shadow: 2px 0px white;
    font-size: 3rem;
}
.firstsection p{
    color: white;
    text-align: center;
    font-size: 1.8rem;
}
.btn{
    border: none;
    box-shadow: 0 0 30px 5px rgb(73, 255, 1);
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    color: #63D0A2;
    background-color: #0F052F;
}
.btn:hover{
    background: #63D0A2;
    color: #0F052F;
}
@media (max-width: 800px){
    .firstsection{
        display: flex;
        flex-direction: column;
        height: 400px;
        padding: 3px 5px;
        justify-content: center;
        align-items: center;
    }
    .firstsection h1{
        width: 400px;
        font-size: 2rem;
        font-weight: 550;
    }
    .firstsection p{
        padding: 8px 65px;
        font-size: 1rem;
    }
}
@media (max-width: 440px){
    .firstsection h1{
        width: 250px;
    }
    .firstsection p{
        padding: 8px 20px;
        font-size: 1rem;
    }
    .btn{
        width: 90px;
        margin: 8px;
    }
}

/*  Section 2  : About + Icons : Aniket + Himanshu   */
.section-aniket{
	width: 100%;
	min-height:600px;
	background-color: rgba(252, 251, 250, 0.927);
}
.container-aniket{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#fea900;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #e78611;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color:#3d3d3d; 
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#e78611;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.title{
	text-align: center;
	font-size: 19px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}

/* Section 3 : Cards  :  Priyanshu */

.index-post {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contener {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 #00000073;
    transition: all 0.3s;
}

.contener:hover {
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
}

.image-contener {
    display: block;
}

.image-contener img {
    width: 100%;
    height: 100%;
}

.meta-contener {
    display: block;
    text-align: center;
}

.meta-contener .title {
    margin: auto;
    font-size: 22px;
    color: #0076b6;
}

.meta-contener .desc {
    font-size: 13px;
    color: #373737;
}

.button1-contener {
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 40px;
    bottom: 2px;
}

.button1-contener .button {
    width: 100%;
    padding: 6px 0;
    text-decoration: none;
    background: linear-gradient(125deg, #00ff35 0%, #0091a7 60%);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}

.button1-contener .button:hover {
    padding-left: 20px;
}


@media screen and (max-width:1124px){
    .index-post{
        width: 100%;
         height: auto;
    }
}
@media screen and (max-width:562px){
    .index-post{
        width: 281px; height: 1496px;
    }
}




/* Section 4 : Tournaments : Srashti */

.sec-4
{
    justify-content: center;
    margin: 0 auto;
    display: flex;
    
}
.sec-4-title-div
{
    font-family: 'Monstserrat',sans-serif;
    
    margin-bottom: 50px;
    text-align: center !important;
}
.sec-4-title-div h2{
    font-size: 30px;
    margin-bottom: 5px;
    
}
.sec-4-title-div .subtitle1 {
    color: #ed6221;
    text-transform: uppercase;
    line-height: 3em;
}
.text {
    
    display: flex;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding: 10%;
    font-size: auto;
    line-height: 1.5em;
    
}

hr
{
    align-items: center;
    margin: 0 12.5% ;
    width: 75%;
    border: 3px solid rgb(67, 66, 66);
    opacity: .5;
    margin-bottom: 90px;
    
}
/*=============================================================================*/
/* .hello{
    border: 2px solid black;
} */
.sec-4
{
    justify-content:center;
    display: flex;
}

.event-image
{
    /* border: 5px solid green; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    justify-content: left;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    padding-left: 4%;
    /* padding-top: 4%; */
}

.event-image:nth-child(2n)
 {
    flex-direction: row-reverse;
    /* justify-content: left; */
 }

.event-image .game-block
{
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    background: rgba(248, 244, 243, 0.99);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    width: 500px;
    /* margin-top: 60px; */
    /* padding-top: 5%; */
}
.titlebox h3
{
    font-size: 20px;  
}
.titlebox .event-capt
{
    padding: 5%;
    color: rgb(194, 53, 53);
    font-size: 13px;
}

.event-image .game-block .text
{
    text-align: center;
    font-size: 20px;
    margin: 50px 0px;
}
.event-image .game-block .info
{
    /* border: 2px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.event-image .game-block .info .list
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 25px;
}
.list b{
    font-size: 20px;
}
.list .txt
{
    margin-top: 5px;
    color: rgb(224, 64, 64);
}
/*Buttons-------------------*/
 
.event-image .buttons{
    /* border: 2px solid orange; */
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
}
.event-image button
{
    background-color: indianred;
    position: relative;
    display: flex;
    border-radius: 5px;
    transition: 2ms;
    box-shadow: 5px 5px 10px 0px grey;
    margin: 10px;
    padding: 1% 8%;
}
 button:hover
{
 transform: translate(-5%,-5%);
 background-color: rgb(225, 40, 40);
 
}
button a
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    color: white;
    /* padding: 6% 2%; */
    
}
.but-text
{
    /* padding: 1%; */
    font-size: 20px;
    font-family:'Arial Narrow', Arial, sans-serif;
}
/*=============================================================================*/
.event-image .image-block
{
    /* border: 5px solid yellowgreen; */
    display: flex;
    flex-wrap: wrap;
    transition: 6s;  
} 
.image-block .image
{
    overflow: hidden; 
}
.image-block img
{
    transition:all 1.5s ease-in-out;
}
.image-block img:hover
{
    position: relative;
    transform: scale(1.1);
} 
/* ========================================================================================== */
@media(max-width :1000px)
{
    
    .event-image .image-block .image img
    {
        width: 100%;
        
    }   
    
}
@media(max-width :1305px)
{
    .event-image:nth-child(n)
    {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

}

/* Section 5 : Photo Gallery :  Mradul + Aryan */

.gallery .header h1{
    font-family: 'Rubik Moonrocks', cursive;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 70;
    color: black;
    text-decoration:underline;
}
.pics{
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-gap: 10px;
}
.box .full-screen{
    /* border: 2px solid red; */
    text-align: center;
    opacity: 0;
}
.box img{
    width: 100%;
}
#show{
    border: 4px solid black;
    background-color: #ffc38a;
    display: flex;
    width: 150px;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px 4px #7e7a7a;
}
.show-more{
    justify-content: center;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
    grid-gap: 10px;
}
.show-more img{
    width: 100%;
}
.box:hover img{
    opacity: 0.3;
}
.box:hover .full-screen {
    opacity: 1;
	transform: translateY(-145px) ;
}
.full-screen .md-50 {
	color: rgb(3, 3, 3);
	font-size: 50px;
    font-weight: 1000;
}

/* Sectoin 6 : Growth Section : Vaibhav + Krishna */

.fun-facts-section{
    position: relative;
    z-index: -1;
    background: url("../images/banner_new.png") no-repeat center center/cover;
    /* border: 2px solid yellow; */
 }
 
 .image-layer{
     /* margin: 0; */
     height: 98%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }
 .image-layer .hello{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .image-layer .hello .first-txt{
     color: white;
     font-size: 50px;
     padding: 0px 0px 0px 0px;
     margin: 10px 50px 10px 60px;
     font-style: italic;
     font-weight: bold;
     
 }
 
 .image-layer .hello .second-txt{
     color: #ff7600;
     font-size: 3rem;
     font-size: 20px;
     margin-bottom: 30px;
 } 
 .material-symbols-outlined.md-80{
     color: white;
     font-size: 80px;
 }
 
 .hello{
     display: flex;
     flex-direction: column;
     margin: 50px;
     padding: 0; 
 }

 /* Section 7 : Player Review : Riya */
 
 .wrapper{
    background: linear-gradient(rgb(15, 176, 230),rgb(91, 173, 173));
    min-height: 82vh;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.wrapper h1{
    font-size: 40px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.wrapper h3{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 1em;
}
.card{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin: 7px;
    padding: 20px 30px;
    position: relative;
    background: rgba(255,255,255,0.2);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    flex-shrink: initial;
}
.card img{
    height: 20px;
    width: 20px;
    border: 2px solid #e5dcdc;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left:10px;
}
.card p{
   
    font-size: 19px;
    margin-top: 63px;
    margin-bottom: 25px;
}
.card h2{
    font-weight: 300;
    margin-bottom: 4px;
}
.card h4{
    color: rgb(18, 2, 2);
     font-weight: 300;
     font-size: 10px;
}
.card i{
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    color: #11232b;
}
.card:hover{
    transform: scale(0.95);
    color: rgb(230, 231, 228);
    background: rgba(65, 64, 64, 0.779);
    flex-shrink: initial;   
}
@media(max-width: 630px) {
    .cards{
        width:100%;
    flex-direction: column;
    flex-shrink: initial;
    flex-flow: column;
    } 
}

/* section 8 : Contact  : Santosh  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


#contact{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
font-family: 'Poppins', sans-serif;
background-image: linear-gradient(20deg, #a46e28 30%, rgb(255, 255, 255) 50% );
}
 


.container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 0;
}

.container .contactInfo{
    position: absolute;
    top: 40px;
    left: 20px;
    width: 350px;
    height: calc(100% - 80px);
    background: #d3a32a;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
}



.container .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info{
    position: relative;
    margin: 20px 0;

}

.container .contactInfo ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

.container .contactInfo ul.info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    
}

.container .contactInfo ul.info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci
{
    position: relative;
    display: flex;

}


.contact-section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

.container .contactInfo ul.sci li{
    list-style: none;
    margin: 25px;  
    font-size: 1.2rem;
}

.container .contactInfo ul.sci li a{
    text-decoration: none;
}

.container .contactInfo ul.sci li a i{
    filter: invert(1);
    color: black;
}

 section .container .contactinfo .sci li:hover a i{
    opacity: 2s;

 }

.container .contactForm
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 30px 50px 50px 30px rgba(0, 0, 0, 0.25);
    border-radius: 5%;
}

.container .contactForm h2{
    color: #59440f;
    font-weight: 500;
}

.container .contactForm  .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm  .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm  .formBox .inputBox.w50{
    width: 47%;
}
.container .contactForm  .formBox .inputBox.w100{
width: 100%;
}
   
.container .contactForm  .formBox .inputBox input,
.container .contactForm  .formBox .inputBox textarea{
    width: 100%;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}
.container .contactForm  .formBox .inputBox textarea{
    height: 120px;
}

.container .contactForm  .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-weight: 300;
    transition: 0.3s;


}
.container .contactForm  .formBox .inputBox input:focus ~ span,
.container .contactForm  .formBox .inputBox input:valid ~ span,
.container .contactForm  .formBox .inputBox textarea:focus ~ span,
.container .contactForm  .formBox .inputBox textarea:valid ~ span{
transform: translateY(-20px);
font-size: 12px;
letter-spacing: 1px;
font-weight: 500;
color: rgb(88, 63, 3);
}

.container .contactForm  .formBox .inputBox input[type="submit"]{
    position: pointer;
    background-color: rgb(191, 191, 187);
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
}
.container .contactForm  .formBox .inputBox input[type="submit"]:hover{
    background-color: rgb(151, 101, 0);
}


@media only screen and (max-width: 1070px) {
    #contact .container{
        width: 90% ;
        min-width: auto ;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }
  }

@media only screen and (max-width: 1050px)  {
    
.container{
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.container .contactInfo{
    top: 0;
    height: 550px;
    position: relative;
    border-radius: 0;
}


.container .contactForm{
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
    border-radius: 0;
}


}

@media only screen and (max-width: 800px){

    #contact{
        background: white;
    }

    #contact::before{
        background: none;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        box-shadow: none;
    }

    .container .contactInfo{
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
        background-image: linear-gradient(50deg, #3d6dba 8%, rgb(198, 198, 91) 75% );
        flex-direction: row;
        border-radius: 0;
    }

    .container .contactInfo ul.sci{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .container .contactForm{
        width: 100%;
        height: auto;
        border-radius: 0;
        
    }

}

@media only screen and (max-width: 558px){
    .container .contactForm{
        padding: 25px;
        border-radius: 0;

    }

    .container .contactInfo{
        padding: 25px;
        flex-direction: column;
        border-radius: 0;

    }
 .container .contactInfo ul.sci{
    margin-top: 40px;
 }

 .container .contactForm .formBox .inputBox.w50{
    width: 100%;
 }
}
